{
  "extends": [
    "plugin:vue/strongly-recommended"
  ],
  "rules": {
    "vue/script-indent" : ["error", 2, { "baseIndent": 1 }]
  },
  "env": {
    "browser" : true,
    "commonjs" : true,
    "es6" : true,
    "jquery" : true
  }
}