<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />

  <title>{% block title %}{% endblock %}</title>

  {% load static %}

  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no">

  <!-- base styles frameworks -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/solid.css" integrity="sha384-r/k8YTFqmlOaqRkZuSiE9trsrDXkh07mRaoGBMoDcmA58OHILZPsk29i2BsFng1B" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/fontawesome.css" integrity="sha384-4aon80D8rXCGx9ayDt85LbyUHeMWd3UiBaWliBlJ53yzm9hqN21A+o1pqoyK04h+" crossorigin="anonymous">

  <!-- base js frameworks -->
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>

  <!-- app specific stuff -->
  <script src="{% static 'cluster.js' %}"></script>
  <script src="{% static 'app.js' %}"></script>

</head>
<body>

  <header>
    <h1>prereq map</h1>
    <ul>
      <li><a href="/curriculum-search/?curric=cse">curriculum search</a></li>
      <li><a href="/course-search/?course=cse%20373">course search</a></li>
    </ul>
  </header>

  {% block content %}{% endblock %}

  <footer>footer</footer>

</body>
</html>
