{% extends "base.html" %}

{% load static %}
{% load render_bundle from webpack_loader %}

{% block title %}Course Search{% endblock %}

{% block content %}

<div id="vue_course" class="container py-1 mt-2" role="main">

    <h1 class="pt-4 pb-2">Course Search</h1>
    <p class="instruction-text pb-4">See a course’s prerequisites, what it’s a prerequisite for, and other related curriculum.</p>

    <div v-cloak v-if="this.course_param !== undefined ">[[ course_param ]]</div>

    <course-search></course-search>
    <course-detail></course-detail>

</div>

<!-- load bundled vue files using webpack loader -->
{% render_bundle 'vue_course' %}

{% endblock %}
