{% extends "base.html" %}

{% load static %}
{% load render_bundle from webpack_loader %}

{% block title %}Curriculum Search{% endblock %}

{% block content %}



<div id="vue_curriculum" class="container py-1 mt-2" role="main">

    <h2 class="pt-4 pb-2">Curriculum Search</h2>
    <p class="instruction-text pb-4">View the prerequisite map of courses in a curriculum. </p>

    <typeahead></typeahead>

    <div class="row mt-5 mb-5">

        <div class="col-md-9">
            {% if request.GET.curric %}
            <div id="graph_container" style="border: 1px solid rgba(0,0,0,.125);"></div>
            {% else %}
            <div>no curric provided</div>
            {% endif %}
        </div>

        <div class="col-sm-12 col-md-3">
            <course-infobox ref="infobox"></course-infobox>
        </div>

    </div>

</div>



<!-- load bundled vue files using webpack loader -->
{% render_bundle 'vue_curriculum' %}

{% endblock %}
