{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>visNetwork</title>
    <script src="{% static 'htmlwidgets_r.js' %}"></script>
    <script src="{% static 'vis.js' %}"></script>
    <script src="{% static 'cluster.js' %}"></script>
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css"/>
</head>
<body style="background-color: white;">
<div id="htmlwidget_container">
<div id="htmlwidget-3d1708f5bbe50b036ef9" class="visNetwork html-widget" style="width:960px;height:500px;">

</div>
</div>
{%  include "chem_map.html" %}
<script type="application/htmlwidget-sizing" data-for="htmlwidget-3d1708f5bbe50b036ef9">{"viewer":{"width":450,"height":350,"padding":15,"fill":true},"browser":{"width":960,"height":500,"padding":40,"fill":false}}</script>
</body>
</html>
